{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<main id="content" role="main">

<h1 class="heading-xxlarge">Street Lane Practice</h1>

<p>12 Devonshire Avenue, Leeds, West Yorkshire, LS8 1AY</p> 


<ul>
<li class="black"><a class="link" href="https://www.google.co.uk/maps/place/Devonshire+Ave,+Leeds,+West+Yorkshire+LS8+1AY/@53.8433464,-1.5154174,17z/data=!3m1!4b1!4m2!3m1!1s0x48795ba4c4865f53:0x88630d5f1ae46082" target="_blank">View on a map and get directions</a></li>
</ul>


<h2 class="phone">Call 0113 2371128</h2>
<hr>

<h2 class="subhead">Book a GP appointment</h2>
  
<p>You can book an appointment online if you have registered an online account. Street Lane Practice uses a syrtem called SystemOline to do this.</p></div>
  <ul class="notice-red-line" role="note" aria-label="Information">
   <li>You'll need your SystemOnline username and password</li>

  </ul>

<a href="javascript:void(0);" class="button ">Book a GP Appointment</a>
<p style="margin-top:10px;">On the sytem online site</p>
<p style="margin-top:10px;">If you don't have a SystemOnline username and password, you can <a href="">read more about registering one here</a></p>
<p style="margin-top:10px;">You can book an appointment with any of the practice doctors</p>
<ul>
<li>Dr Jo Sheehan</li>
<li>Dr Nigel Bew</li>
<li>Dr Lesley Sunderland</li>
<li>Dr Guy Baker</li>
<li>Dr Jonny Hobman</li>
<li>Dr Meena Khan</li>
<li>Dr Joanna Hart</li>
</ul>


<a href="gp-services" class="button ">Book other services offered at the practice</a>
<p>If you have booked an appointment you can prepare by reading about your symptoms or condition</p>

<div class="search-box"><form class="search">
      <input type="text">
      <button type="submit">Search</button>
    </form></div>
<hr>   
    <ul>
<li class="black"><a class="link" href="gp-home" target="_blank">GP home page</a></li>
<li class="black"><a class="link" href="gp-prescriptions" target="_blank">Order a repeat prescription</a></li>
<li class="black"><a class="link" href="javascript:void(0);" target="_blank">Other GP Services</a></li>
</ul>
<hr>
<ul>
  
    <li><input type="checkbox"> Remember Street Lane Practice as your local GP</li>

  </ul>
</main>

{% endblock %}
