{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}


<main id="content" role="main">



<div class="content">
    <h1 class="heading-xxlarge">GP Practice Prototype</h1>

<div  class="margin-left">
    <ul>
      <li><a href="gp-home-open">GP page reception open</a></li>
      <li><a href="gp-home-closed" target="_blank">GP page reception closed</a></a></li>
      <li><a href="gp-book-appointment" target="_blank">Book a GP appointment</a></li>
      <li><a href="gp-prescriptions" target="_blank">Order a repeat prescription</a></li>
    </ul>

   </div>

  </div>
</main>

{% endblock %}
