{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<main id="content" role="main">

<h1 class="heading-large">Street Lane Practice</h1>

<p>12 Devonshire Avenue, Leeds, West Yorkshire, LS8 1AY</p> 


<a class="link" href="https://www.google.co.uk/maps/place/Devonshire+Ave,+Leeds,+West+Yorkshire+LS8+1AY/@53.8433464,-1.5154174,17z/data=!3m1!4b1!4m2!3m1!1s0x48795ba4c4865f53:0x88630d5f1ae46082" target="_blank">View on a map and get directions</a>


<h2 class="phone">Call 0113 2371128</h2>



<div class="notice-red-line">
  <ul>
      <h2 class="subhead">Reception is closed</h2>
   <li style="color:#333;">Reception will open at 8am tomorrow</li>
   <li style="color:#333;">Call 111 for urgent care</li>
  </ul>
    </div>
<p>You may be able to get help at a <a class="link" href="javascript:void(0);">Pharmacy</a> or <a class="link" href="javascript:void(0);">Walk in centre.</a></p>
<p><a href="javascript:void(0);" >View local Pharmacies and Walk in Centres</a></p>
<details role="group">
  <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="false"> <span>View all opening times</span> </summary>
  <div id="details-content-3" aria-hidden="true">
    <ul class="notice-red" role="note" aria-label="Information">
      <li>Bank Holiday 2nd May 2016 : closed </li>
      <li>Tuesday 3rd May 2016 : Training day</li>
    </ul>
    <table>
      <tr>
        <th><h3>Reception opening times</h3></th>
        <th></th>
      </tr>
      <tr>
        <td class="left60">Monday, Wednesday, Thursday, Friday</td>
        <td class="right">08:00 - 18:00</td>
      </tr>
      <tr>
        <td class="left60">Tuesday</td>
        <td class="right40">08:00 - 20:30</td>
      </tr>
      <tr>
        <td class="left60">Saturday, Sunday</td>
        <td class="right40">Closed</td>
      </tr>
    </table>
    <table>
      <tr>
        <th><h3>GP Appointment opening times</h3></th>
        <th></th>
      </tr>
      <tr>
        <td class="left60">Monday, Tuesday, Friday</td>
        <td class="right40">08:00 - 18:00</td>
      </tr>
      <tr>
        <td class="left60">Friday. Wednesday</td>
        <td class="right40">08:00 - 20:00</td>
      </tr>
      <tr>
        <td>Thursday</td>
        <td class="right40">08:00 - 21:00</td>
      </tr>
      <tr>
        <td class="left60">Saturday, Sunday</td>
        <td class="right40">Closed</td>
      </tr>
    </table>
  </div>
</details>
<p>&nbsp; </p>
<hr>
<h2 class="subhead">Registering as a new patient</h2>


<ul  class="notice-green">
<li>We are currently accepting new patients</li>
</ul>

<a href="javascript:void(0);">Find other GP Practices in the area</a>
<div class="rating img">
<img src="/public/images/stars.png" width="201" height="46" alt=""/> <a style="font-size:18px; padding-left:10px;" href="javascript:void(0);">Read 21 patient reviews</a></span>
</div>

<hr>
<h2 class="subhead">Order a repeat prescription</h2>
<p>You can order a repeat prescription online if you are registered</p>
<p>You can also set up a repeat prescription with a pharmacy</p>
<a href="gp-prescriptions" class="button ">Order a repeat prescription</a>

<hr>
<h2 class="subhead">Book a GP appointment</h2>
    <p>You can book an appointment with a GP online</p>
    <a href="gp-book-appointment" class="button ">Book a GP appointment</a><br />
    <a href="javascript:void(0);" >Book other services offered at the practice</a>
<p>If you have booked an appointment you can prepare by reading about your symptoms or condition</p>

<div class="search-box"><form class="search">
      <input type="text">
      <button type="submit">Search</button>
    </form></div>
<hr>
<h2 class="subhead">Other local health services</h2>
<p>If you can't get an appointment immediately, you may be able to get help at a <a class="link" href="javascript:void(0);">Pharmacy</a> or <a class="link" href="javascript:void(0);">Walk in centre.</a></p>
<a href="javascript:void(0);" >View local Pharmacies and Walk in Centres</a>

<hr>


  <ul>
  <li><a href="http://www.streetlanepractice.com/" target="_blank">Read more on the Practice website</a></li>
    
  </ul>
<ul class="notice">
<li><input type="checkbox"> Remember Street Lane Practice as your local GP</li>

</ul>
</main>

{% endblock %}
