{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<main id="content" role="main">

<h1 class="heading-large">Order a repeat prescription at Street Lane Practice</h1>

<p>12 Devonshire Avenue, Leeds, West Yorkshire, LS8 1AY</p> 


<ul>
<li class="black"><a class="link" href="https://www.google.co.uk/maps/place/Devonshire+Ave,+Leeds,+West+Yorkshire+LS8+1AY/@53.8433464,-1.5154174,17z/data=!3m1!4b1!4m2!3m1!1s0x48795ba4c4865f53:0x88630d5f1ae46082" target="_blank">View on a map and get directions</a></li>
</ul>


<h2 class="phone">Call 0113 2371128</h2>
<hr>

   

<p>You can order a repeat prescription online if you have registered an online account. Street Lane Practice uses a system called SystmOline to do this.</p>
  <ul class="notice-red-line" role="note" aria-label="Information">
   <li>You'll need your SystmOnline username and password</li>
  </ul>
  
<a href="javascript:void(0);" class="button ">Order a repeat prescription</a>
<p style="margin-top:10px;">&nbsp;</p>
<p style="margin-top:10px;">If you don't have a SystmOnline username and password, you can <a href="javascript:void(0);">read more about registering one here</a></p>
<p style="margin-top:10px;">You may want to nominate a <a href="javascript:void(0);">local pharmacy</a> to have your prescription delivered.</p>
 <hr>   

<ul class="notice">
<li><input type="checkbox"> Remember Street Lane Practice as your local GP</li>

</ul>
</main>

{% endblock %}
