{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<main id="content" role="main">
<div class="module">
<h1 class="heading-xxlarge">Our Services at Street Lane Practice</h1>

<p>12 Devonshire Avenue, Leeds, West Yorkshire, LS8 1AY</p> 


<ul>
<li><a class="link" href="https://www.google.co.uk/maps/place/Devonshire+Ave,+Leeds,+West+Yorkshire+LS8+1AY/@53.8433464,-1.5154174,17z/data=!3m1!4b1!4m2!3m1!1s0x48795ba4c4865f53:0x88630d5f1ae46082" target="_blank">View on a map and get directions</a></li>
</ul>


<h2 class="phone">Call 0113 2371128</h2>
</div>
    <div class="module">
        
<details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="false">
          <span>Cardiology - Street Lane Services</span>
        </summary>
        <div id="details-content-3" aria-hidden="true">

<ul>
    <li>This clinic is available to patients from within and outside Street Lane Practice via Choose and Book.
It is run by 2 Consultant Cardiologists from Leeds General Infirmary.
For a list of the conditions assessed/treated please see our Street Lane Practice website
Child health and development - Street Lane Services Paediatrics
Consultant paediatricians from local hospitals see patients referred from within Street Lane Practice or from other GP surgeries in Leeds via Choose and Book.
Conditions commonly seen include headaches, constipation, funny turns and asthma.
There is a full list on our website.</li>
<li>This service requires a referral by your GP</li>
    </ul>
        </div>
      </details>
<details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="false">
          <span>Child health and development - Street Lane Services Paediatrics</span>
        </summary>
        <div id="details-content-3" aria-hidden="true">
<ul>
    <li>Consultant paediatricians from local hospitals see patients referred from within Street Lane Practice or from other GP surgeries in Leeds via Choose and Book.
Conditions commonly seen include headaches, constipation, funny turns and asthma.
There is a full list on our website.
</li>
    <li>This service requires a referral by your GP</li>
    </ul>
            </div>
      </details>     
<details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="false">
          <span>Dermatology specialist clinic - Street Lane Services Dermatology</span>
        </summary>
        <div id="details-content-3" aria-hidden="true">
<ul>
    <li>We run a specialist clinic including a Consultant Dermatologist, GPs with Special interest in Dermatology and specialist nurses.
They see patients referred from within Street Lane Practice. Patients from throughout Leeds can be referred via Choose and Book.
Please see the full range of conditions treated and services offered on our Street Lane Practice website</li>
<li>This service requires a referral by your GP</li>
    </ul>
        </div>
      </details>      
        
<details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="false">
          <span>Learning disability health check</span>
        </summary>
        <div id="details-content-3" aria-hidden="true">
<ul>
    <li>You can attend this service without a referral</li>
    </ul>
            </div>
      </details> 
        
  <details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="false">
          <span>Long-Acting Reversible Contraception (LARC - eg IUD or implant)</span>
        </summary>
        <div id="details-content-3" aria-hidden="true">
<ul>
    <li>Members of our medical and nursing team can fit coils and contraceptive implants on patients registered at Street Lane Practice..
You can attend this service without a referral</li>
    </ul>
            </div>
      </details>         
        
<details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="false">
          <span>Minor surgery (e.g. removal of moles and skin lesions) - provided in-house</span>
        </summary>
        <div id="details-content-3" aria-hidden="true">
<ul>
    <li>We provide a minor surgery service for patients registered at Street Lane Practice. Patients can be referred from other GPs via choose and book as we have 3 GPs with Special Interest in Minor Surgery.</li>
    </ul>
            <ul>
<li><b>We perform the following services:</b></li>
            </ul>
<ul>
    <li>Remove common non-cancerous skin lesions including facial lesions</li>
<li>Joint injections - knees, shoulders, hands</li>
<li>Ingrowing toenail removal</li>
<li>Injection/excision keloid scars.</li>
<li>Injection/aspiration of ganglions</li>
<li>This service requires a referral by your GP</li>
    </ul>
</ul>
        </div>
      </details>    




 </div>  
    
<div class="module">
<ul>
  
    <li><input type="checkbox"> Remember Street Lane Practice as your local GP</li>

  </ul></div>
</main>

{% endblock %}
